<div class="bg-concrete-m-u">
  <div class="container py-3">
    <h2 class="text-center">All Users</h2>

    {{! User }}
    {{#each allUsers}}
      <div class="card mt-3">
        <div class="card-header card-color-u">
          <p class="card-text"><b>Username: </b>{{username}}
          </p>
        </div>
        <div class="card-body">
          <b>Role:</b>
          {{role}}

          <p class="card-text"><b>Email:</b>
            {{email}}</p>

          <a
            href="/users/{{_id}}/edit"
            class="btn btn-secondary btn-block"
          >Edit</a>
          <a href="/users/{{_id}}" class="btn btn-secondary btn-block">
            Go to profile</a>
        </div>
      </div>
    {{/each}}

  </div>
</div>