<ul>
    <li>
        <a href="/users/{{foundUser._id}}">Back</a>
    </li>
</ul>
<h2>Edit user: {{foundUser.name}}</h2>

<form action="/users/{{foundUser._id}}/edit" method="POST">
    <label> Username:
        <input type="text" name="username" value="{{foundUser.username}}">
    </label>
    <label> Email:
        <input type="text" name="email" value="{{foundUser.email}}">
    </label>
    <label> Password:
        <input type="password" name="password" value="{{foundUser.password}}">
    </label>
    <label for="role"> Role: </label>
    <select name="role" id="role">
        <option value="{{_id}}">{{foundUser.role}}</option>
        <option>admin</option>
        <option>moderator</option>
        <option>customer</option>
    </select>
    <button type="submit">Save changes</button>
</form>