<ul>
    <li>
        <a href="/users/{{foundUser._id}}">View {{foundUser.username}}'s account details</a>
    </li>
    <li>
        <a href="/users">View all users</a>
    </li>
</ul>
<h2>Edit user: {{foundUser.name}}</h2>

<form action="/users/{{foundUser._id}}/edit" method="POST">
    <label> Username:
        <input type="text" name="username" value="{{foundUser.username}}">
    </label>
    <label for="role"> Role: </label>
    <select name="role" id="role">
        <option value="{{_id}}">{{foundUser.role}}</option>
        <option>admin</option>
        <option>moderator</option>
        <option>customer</option>
    </select>
    <button type="submit">Save changes</button>
</form>

<div>
    {{#if errorMessage}}
      <p style="color: red;" class="error">{{errorMessage}}</p>
    {{/if}}
</div>