
  <div class="container ">
  <div class="row mt-5"> 

    <div class="text-center"><h2>Welcome to your profile page, {{userInSession.username}}!</h2>
          <p>Thank you for creating an account with us!</p></div>
    <div class="col-5">
      <div class=" p-3 bg-card ">
        <h3>Personal Info</h3>
        {{#if userInSession.username}}
     
          <h6>Email: {{userInSession.email}}</h6>
          <h6>Role: {{userInSession.role}}</h6>
          
          <br />
        {{else}}
          <p>Still no logged in user, sorry!</p>
        {{/if}}
      </div>
    </div>
    {{!-- {{#if isOwnProfile}}
<button><a href="/users/{{userInSession._id}}/edit">edit profile</a></button>
{{/if}} --}}
    <div class="col-7">
      <div class="card p-3 h-100" >
        <h3>Comments</h3>
        {{#each foundComments}}
          <p><b>{{dish.name}}</b>: {{content}}</p>
        {{/each}}
      </div>
    </div>

  </div>
</div>
