<div class="bg-concrete-fix">
  <div class="container">
    <div class="row">

      <div class="text-center">
        <h2>Welcome to your profile page,
          {{foundUser.username}}!
        </h2>
        <p>Thank you for creating an account with us!</p></div>

      <div class="col-5">
        <div class="card p-3 h-100 bg-u-card bg-body-secondary">
          <h3>Personal Info</h3>

            <h6>Email: {{foundUser.email}}</h6>
            <h6>Role: {{foundUser.role}}</h6>
            <br /> 
        </div>
      </div>

      <div class="col-7">
        <div class="card p-3 h-100 bg-body-secondary">
          <h3>Comments on meals posted:</h3>
          {{#each foundComments}}
            <ul>
              <li><b>{{dish.name}}</b>: {{content}}</li>
            </ul>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>