<div class="bg-concrete-fix">
  <div class="container">
    <div class="row">

      <div class="text-center">
        <h2>Username: {{foundUser.username}}</h2>

        <div class="text-start mb-3">

          <button class="btn btn-secondary btn-block">
            <a href="/users" class="u-0 text-light">Back</a>
          </button>
          <button class="btn btn-secondary btn-block">
            <a
              href="/users/{{foundUser._id}}/edit"
              class="u-0 text-light"
            >Edit</a>
          </button>
        </div>

      </div>

      <div class="col-5">
        <div class="card p-3 h-100 bg-body-secondary">
          <h3>Personal Info</h3>

          <h6>Email: {{foundUser.email}}</h6>
          <h6>Role: {{foundUser.role}}</h6>
          <br />
        </div>
      </div>

      <div class="col-7">
        <div class="card p-3 h-100 bg-body-secondary">
          <h3>Comments on meals posted:</h3>
          {{#each foundComments}}
            <ul>
              <li><b>{{dish.name}}: </b>{{content}}
                <p class="mb-0 fw-lighter">
                  {{createdAt}}</p></li>
            </ul>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>