<div class="container">
  <h2>{{foundUser.username}}</h2>
<p><b>Email:</b> {{foundUser.email}}</p>
<p><b>Role:</b> {{foundUser.role}}</p>



 <div class="text-end">
        <button class="btn btn-secondary btn-block">
          <a href="/users/{{foundUser._id}}/edit" class="u-0 text-light">Edit</a>
        </button>
        <button class="btn btn-secondary btn-block">
          <a href="/users" class="u-0 text-light">Back</a>
        </button>
      </div>

<h2>comments</h2>
{{#each foundComments}}
  <p><b>{{dish.name}}</b>: {{content}}</p>
{{/each}}
</div>