<ul>
    <li>
        <a href="/users">All users</a>
    </li>
</ul>
<h2>{{foundUser.username}}</h2>
<p><b>Email:</b> {{foundUser.email}}</p>
<p><b>Role:</b> {{foundUser.role}}</p>

<button><a href="/users/{{foundUser._id}}/edit">Edit user</a></button>

<h2>comments</h2>
{{#each foundComments}}
  <p><b>{{dish.name}}</b>: {{content}}</p>
{{/each}}