<ul>
    <li>
        <a href="/users">Back</a>
    </li>
</ul>
<h2>{{foundUser.username}}</h2>
<p><b>Email:</b> {{foundUser.email}}</p>
<p><b>Role:</b> {{foundUser.role}}</p>

<a href="/users/{{foundUser._id}}/edit">Edit user details</a>
<br>
<br>
<form action="/users/{{foundUser._id}}/delete" method="POST">
    <button type="submit">Remove user</button>
</form>