<ul>
    <li>
        <a href="/users">All users</a>
    </li>
</ul>
<h2>{{foundUser.username}}</h2>
<p><b>Email:</b> {{foundUser.email}}</p>
<p><b>Role:</b> {{foundUser.role}}</p>

<button><a href="/users/{{foundUser._id}}/edit">Edit user</a></button>
<br>
<br>
<form action="/users/{{foundUser._id}}/delete" method="POST">
    <button type="submit">Delete user</button>
</form>