<div class="bg-concrete-fix">
  <div class="container">

    <div class="card p-5 bg-light">
      <h2 class="text-center">{{foundMeal.name}}</h2>

      <form
        action="/meals/{{foundMeal._id}}/edit"
        method="POST"
        enctype="multipart/form-data"
      >

        {{! MEAL IMAGE }}
        <div class="mb-3">
          <label for="formFile" class="form-label fw-bold">Image: </label>
          <input
            class="form-control"
            type="file"
            name="meal-cover-image"
            id="formFile"
          />
          <input
            type="text"
            name="existingImage"
            hidden
            value="{{foundMeal.mealImage}}"
          />
        </div>

        {{! NAME }}
        <div class="mb-3">
          <label class="form-label fw-bold">Name: </label>
          <input
            type="text"
            name="name"
            class="form-control"
            value="{{foundMeal.name}}"
          />
        </div>

        {{! ALLERGENS}}
        <div class="mb-3">
          <label class="form-label fw-bold">
            Allergens:
          </label>
          <input
            type="text"
            name="allergens"
            class="form-control"
            value="{{foundMeal.allergens}}"
          />
        </div>

        {{! CUISINE }}
        <div class="mb-3">
          <label for="cuisine" class="form-label fw-bold">
            Cuisine:
          </label>
          <input
            type="text"
            name="cuisine"
            class="form-control"
            id="cuisine"
            value="{{foundMeal.cuisine}}"
          />
        </div>

        {{! SPICE LEVEL}}
        <div class="div mb-3">
          <label for="spiceLevel" class="fw-bold mb-3">Spice Level: </label>
          <select class="form-select" name="spiceLevel" id="spiceLevel">
            <option value="{{foundMeal.spiceLevel}}">{{foundMeal.spiceLevel}}</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        {{! CATEGORY }}
        <div class="div mb-3">
          <label for="category" class="mb-3 fw-bold">Category:</label>
          <div class="input-group mb-3">
            <select class="form-select" name="category" id="category">
              <option value="{{foundMeal.category}}">{{foundMeal.category}}</option>
              <option>Salad</option>
              <option>Soup</option>
              <option>Appetizer</option>
              <option>Main Dish</option>
              <option>Side</option>
              <option>Dessert</option>
            </select>
          </div>
        </div>

        {{! DISHTYPE }}
        <div class="div mb-3">
          <label for="dishType" class="mb-3 fw-bold">Dishtype:</label>
          <div class="input-group mb-3">
            <select class="form-select" name="dishType" id="dishType">
              <option value="{{foundMeal.dishType}}">{{foundMeal.dishType}}</option>
              <option>Breakfast</option>
              <option>Lunch</option>
              <option>Dinner</option>
              <option>Dessert</option>
            </select>
          </div>
        </div>

        {{! BUTTONS }}
        <div class="text-end">
          <button class="btn btn-secondary btn-block" type="submit">Save changes</button>
          <button class="btn btn-secondary btn-block">
            <a href="/meals" class="u-0 text-light">Back</a>
          </button>
        </div>

        <div>
          {{#if errorMessage}}
            <p style="color: red;" class="error">{{errorMessage}}</p>
          {{/if}}
        </div>
      </form>
    </div>

  </div>
</div>