<div class="bg-concrete-fix">
  <div class="container py-3">

    {{! BUTTONS }}
    <div class="card-footer mb-1 d-flex">
      <button class="btn btn-secondary mb-3 me-2" type="button">
        <a href="/meals" class="text-light u-0">Back to meals</a></button>
      <form action="/meals/{{foundMeal._id}}/delete" method="POST" class="me-2">
        <button
          type="submit"
          class="btn btn-secondary btn-block"
          type="submit"
        >Delete meal</button>
      </form>
      <a href="/meals/{{foundMeal._id}}/edit"><button
          class="btn btn-secondary btn-block"
          type="submit"
        >Edit meal</button></a>

    </div>

    <div class="row">
      <div class="col-6">

        <img
          src="{{foundMeal.mealImage}}"
          class="card-img-top mb-3 rounded"
          alt="meal_img"
        />
        <div class="card mb-3">

          <div class="card-body">
            <h2 class="card-title text-center">{{foundMeal.name}}</h2>
            <hr />
            <p class="card-text">
              <b>Ingredients</b>:
              {{foundMeal.ingredients}}</p>
            <p class="card-text"><b>Allergens:</b> {{foundMeal.allergens}}</p>
            <p class="card-text"><b>Spice Level:</b>
              {{foundMeal.spiceLevel}}</p>
            <p class="card-text"><b>Category:</b> {{foundMeal.category}}</p>
            <p class="card-text"><b>Cuisine:</b> {{foundMeal.cuisine}}</p>
            <p class="card-text"><b>Dish Type:</b> {{foundMeal.dishType}}</p>
          </div>
        </div>
      </div>

      {{! SHOW COMMENTS }}
      <div class="col-6">
        <div class="container p-0">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12">
              <div class="card text-dark">
                <div class="card-body p-4">
                  <h4 class="mb-3">Recent comments:</h4>
                  {{#each foundMeal.comments}}
                    <div class="d-flex flex-start mb-2">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="/images/user-icon.png"
                        alt="user_img"
                        width="60"
                        height="60"
                      />
                      <div>
                        <h6 class="fw-bold mb-1"><b>{{author.username}}</b></h6>
                        <div class="d-flex align-items-center mb-1">
                        </div>
                        <p class="mb-1 fs-5">
                          {{content}}
                        </p>
                        <p class="mb-0 fw-lighter">
                          {{createdAt}}</p>
                        {{!-- <form
                          action="/meals/{{foundMeal._id}}/{{foundComment._id}}/delete"
                          method="POST"
                        >
                          <button type="submit">Delete comment</button>
                        </form> --}}
                      </div>
                    </div>
                    <hr>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>