<ul>
    <li>
        <a href="/menu">Full menu</a>
    </li>
</ul>
<h2>{{foundMeal.name}}</h2>
<p><b>Ingredients:</b> {{foundMeal.ingredients}}</p>
<p><b>Allergens:</b> {{foundMeal.allergens}}</p>
<p><b>Spice Level:</b> {{foundMeal.spiceLevel}}</p>
<p><b>Meal Image:</b> <img src="{{foundMeal.mealImage}}"></p>
<p><b>Category:</b> {{foundMeal.category}}</p>
<p><b>Cuisine:</b> {{foundMeal.cuisine}}</p>
<p><b>Dish Type:</b> {{foundMeal.dishType}}</p>