<div class="container">
  {{#each allMeals}}
    <div class="row row-cols-1 row-cols-md-3 mb-3">
      <div class="col">
        <div class="card h-100">
          <img src={{mealImage}} class="card-img-top" alt="meal-image" />
          <div class="card-body">
            <h5 class="card-title text-center">{{name}}</h5>
            <p class="card-text">
              <ul>
                <li class="fw-bold">Ingredients: {{ingredients}}</li>
                <li class="fw-bold">Allergens: {{allergens}}</li>
                <li class="fw-bold">Spice level: {{spiceLevel}}</li>
                <li class="fw-bold">Category: {{category}}</li>
                <li class="fw-bold">Cuisine: {{cuisine}}</li>
                <li class="fw-bold">Dish Type: {{dishType}}</li>
              </ul>
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="button">
                <a href="/meals/meal/{{_id}}">View</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>